html {
   /* background-color: #19134B; */
}
body {
   background-color: #000101;
   background-image: url('https://images.pexels.com/photos/1083618/pexels-photo-1083618.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   color: #03A4D7;
}
main {
   margin: 10px;
   text-transform: capitalize;
}
nav {
   /* background: #19134B; */
   /* color:  */
}
.child-card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 2px solid black;
   border-radius: 5px;
   margin: 10px 0;
   padding: 10px;
   cursor: pointer;
}
.chore {
   display: flex;
   justify-content: space-between;
   margin: 5px 0;
   padding: 10px;
   background: blue;
   color: ghostwhite;
   border: 1px solid blue;
   border-radius: 5px;
   text-transform: capitalize;
}
h4, h5 {
   margin: 0;
}
