<div class="">
   <form ng-submit="ctrl.postEditedChore(ctrl.chore.task)">
      <input
         type="text"
         ng-model="ctrl.updatedTask"
         ng-value="ctrl.chore.task"
         required><br>
      <input
         type="number"
         ng-model="ctrl.updatedPoints"
         ng-value="ctrl.chore.points"
         required/><br>
      <label> Monday
         <input
            type="checkbox"
            ng-model="ctrl.updatedMonday"
            ng-value="ctrl.chore.monday"
      </label><br>
      <label> Tuesday
         <input
            type="checkbox"
            ng-model="ctrl.updatedTuesday"
            ng-value="ctrl.chore.tuesday"
      </label><br>
      <label> Wednesday
         <input
            type="checkbox"
            ng-model="ctrl.updatedWednesday"
            ng-value="ctrl.chore.wednesday"
      </label><br>
      <label> Thursday
         <input
            type="checkbox"
            ng-model="ctrl.updatedThursday"
            ng-value="ctrl.chore.thursday"
      </label><br>
      <label> Friday
         <input
            type="checkbox"
            ng-model="ctrl.updatedFriday"
            ng-value="ctrl.chore.friday"
      </label><br>
      <label> Saturday
         <input
            type="checkbox"
            ng-model="ctrl.updatedSaturday"
            ng-value="ctrl.chore.saturday"
      </label><br>
      <label> Sunday
         <input
            type="checkbox"
            ng-model="ctrl.updatedSunday"
            ng-value="ctrl.chore.sunday ? checked : ''"
      </label><br>
      <input type="submit" value="Update Chore">
   </form>
</div>
