<!-- =============== -->
<!--     NAV BAR     -->
<!-- =============== -->
<nav class="navbar navbar-light">
      <button
         ng-if="!ctrl.loggedInUser"
         ng-click="ctrl.changeRoute('login')">
         Login
      </button>
      <button
         ng-if="!ctrl.loggedInUser"
         ng-click="ctrl.changeRoute('createParentAccount')">
         Sign Up
      </button>
      <!-- =================== -->
      <!--  ADD CHILD ACCOUNT  -->
      <!-- =================== -->
      <button
         ng-if="ctrl.loggedInUser.admin &&
               ctrl.includeRoute == 'partials/welcome.html'"
         ng-click="ctrl.changeRoute('createChildAccount')">
         Add Child
      </button>
      <!-- ====================== -->
      <!--  loadPage BACK BUTTON  -->
      <!-- ====================== -->
      <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/showChild.html'
            || ctrl.includeRoute == 'partials/showBonusPoints.html'
            || ctrl.includeRoute == 'partials/showRewards.html'
            || ctrl.includeRoute == 'partials/createChildAccount.html'"
         ng-click="ctrl.loadPage()">
         Back
      </button>
      <!-- ===================== -->
      <!-- showChild BACK BUTTON -->
      <!-- ===================== -->
      <button
         ng-if="ctrl.includeRoute == 'partials/showChore.html'
            || ctrl.includeRoute == 'partials/addExtraPoints.html'
            || ctrl.includeRoute == 'partials/editChore.html'"
         ng-click="ctrl.showChild(ctrl.child)">
         Back
      </button>
      <!-- ========================= -->
      <!--  showChild CANCEL BUTTON  -->
      <!-- ========================= -->
      <button
         ng-if="ctrl.includeRoute == 'partials/addChore.html'"
         ng-click="ctrl.changeRoute('welcome')">
         Cancel
      </button>
      <!-- ============================= -->
      <!--  showBonusPoints BACK BUTTON  -->
      <!-- ============================= -->
      <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/updateExtraPointsChore.html'"
         ng-click="ctrl.showBonusPoints()">
         Back
      </button>
      <!-- ========================= -->
      <!--  addPoints CANCEL BUTTON  -->
      <!-- ========================= -->
      <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/addExtraPointsChore.html'"
         ng-click="ctrl.showBonusPoints(ctrl.type)">
         Cancel
      </button>
      <!-- ========================= -->
      <!--  showRewards CANCEL BUTTON  -->
      <!-- ========================= -->
      <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/updateReward.html'"
         ng-click="ctrl.showRewards()">
         Cancel
      </button>
      <!-- ===================== -->
      <!--  POINTS BALANCE VIEW  -->
      <!-- ===================== -->
      <h3
         ng-if="ctrl.loggedInUser && !ctrl.loggedInUser.admin
            && ctrl.includeRoute === 'partials/welcome.html'">
         You Have {{ctrl.loggedInUser.points}} Points
      </h3>

      <button
         ng-if="!ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/rewardStore.html'"
         ng-click="ctrl.loadPage()">
         Back
      </button>

      <button type="button"
         ng-if="!ctrl.loggedInUser.admin &&
         ctrl.includeRoute == 'partials/childShowChore.html'"
         ng-click="ctrl.changeRoute('welcome')">
         Back
      </button>

      <button ng-if="ctrl.loggedInUser"  type="button" data-toggle="dropdown" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" id="fa-bars">
         <i class="fas fa-bars"></i>
         <!-- <span class="navbar-toggler-icon fa-bars"></span> -->
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           <li class="nav-item">
            <a class="anchor"
               ng-if="ctrl.loggedInUser.admin"
               ng-click="ctrl.showBonusPoints('bonus')">
               Bonus Points
            </a>
          </li>
           <li class="nav-item">
            <a
               ng-if="ctrl.loggedInUser.admin"
               ng-click="ctrl.showBonusPoints('remove')">
               Remove Points
            </a>
          </li>
          <li class="nav-item">
            <a
               ng-if="ctrl.loggedInUser.admin"
               ng-click="ctrl.showRewards()">
               Rewards
            </a>
          </li>
          <li class="nav-item">
             <a
               ng-if="!ctrl.loggedInUser.admin"
               ng-click="ctrl.rewardStore()">
               Rewards Store
            </a>
          </li>
          <li class="nav-item">
             <a
               ng-if="ctrl.loggedInUser"
               ng-click="ctrl.logout()">
               Logout
            </a>
          </li>
        </ul>
      </div>
</nav>

<!-- =============== -->
<!--   MY NAV BAR    -->
<!-- =============== -->
<!-- <nav class="mynavbar">
      <button
         ng-if="!ctrl.loggedInUser"
         ng-click="ctrl.changeRoute('login')">
         Login
      </button>
      <button
         ng-if="!ctrl.loggedInUser"
         ng-click="ctrl.changeRoute('createParentAccount')">
         Create Account
      </button> -->
      <!-- =================== -->
      <!--  ADD CHILD ACCOUNT  -->
      <!-- =================== -->
      <!-- <button
         ng-if="ctrl.loggedInUser.admin &&
               ctrl.includeRoute == 'partials/welcome.html'"
         ng-click="ctrl.changeRoute('createChildAccount')">
         Add Child
      </button> -->
      <!-- ====================== -->
      <!--  loadPage BACK BUTTON  -->
      <!-- ====================== -->
      <!-- <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/showChild.html'
            || ctrl.includeRoute == 'partials/showBonusPoints.html'
            || ctrl.includeRoute == 'partials/showRewards.html'"
         ng-click="ctrl.loadPage()">
         Back
      </button> -->
      <!-- ===================== -->
      <!-- showChild BACK BUTTON -->
      <!-- ===================== -->
      <!-- <button
         ng-if="ctrl.includeRoute == 'partials/showChore.html'
            || ctrl.includeRoute == 'partials/addExtraPoints.html'"
         ng-click="ctrl.showChild(ctrl.child)">
         Back
      </button> -->
      <!-- ========================= -->
      <!--  showChild CANCEL BUTTON  -->
      <!-- ========================= -->
      <!-- <button
         ng-if="ctrl.includeRoute == 'partials/addChore.html'"
         ng-click="ctrl.showChild(ctrl.child)">
         Cancel
      </button> -->
      <!-- ============================= -->
      <!--  showBonusPoints BACK BUTTON  -->
      <!-- ============================= -->
      <!-- <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/updateExtraPointsChore.html'"
         ng-click="ctrl.showBonusPoints()">
         Back
      </button> -->
      <!-- ========================= -->
      <!--  addPoints CANCEL BUTTON  -->
      <!-- ========================= -->
      <!-- <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/addExtraPointsChore.html'"
         ng-click="ctrl.addPoints()">
         Cancel
      </button> -->
      <!-- ========================= -->
      <!--  showRewards CANCEL BUTTON  -->
      <!-- ========================= -->
      <!-- <button
         ng-if="ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/updateReward.html'"
         ng-click="ctrl.showRewards()">
         Cancel
      </button> -->
      <!-- ===================== -->
      <!--  POINTS BALANCE VIEW  -->
      <!-- ===================== -->
      <!-- <h3
         ng-if="ctrl.loggedInUser && !ctrl.loggedInUser.admin
            && ctrl.includeRoute === 'partials/welcome.html'">
         You Have {{ctrl.loggedInUser.points}} Points
      </h3>

      <button
         ng-if="!ctrl.loggedInUser.admin &&
            ctrl.includeRoute == 'partials/rewardStore.html'"
         ng-click="ctrl.loadPage()">
         Back
      </button> -->
      <!-- <div class="mydropdown" ng-if="ctrl.loggedInUser">
         <button type="button" class="mydropbtn">
            <i class="fas fa-bars"></i>
         </button>
         <div class="mydropdown-content">
            <a class="anchor"
               ng-if="ctrl.loggedInUser.admin"
               ng-click="ctrl.showBonusPoints('bonus')">
               Bonus Points
            </a>
            <a
               ng-if="ctrl.loggedInUser.admin"
               ng-click="ctrl.showBonusPoints('remove')">
               Remove Points
            </a>
            <a
               ng-if="ctrl.loggedInUser.admin"
               ng-click="ctrl.showRewards()">
               Rewards
            </a>
             <a
               ng-if="!ctrl.loggedInUser.admin"
               ng-click="ctrl.rewardStore()">
               Rewards Store
             <a
               ng-if="ctrl.loggedInUser"
               ng-click="ctrl.logout()">
               Logout
            </a>
         </div>
      </div>
</nav> -->
