<button
   ng-if="!ctrl.loggedInUser"
   ng-click="ctrl.changeRoute('login')">
   Login
</button>
<button
   ng-if="!ctrl.loggedInUser"
   ng-click="ctrl.changeRoute('createParentAccount')">
   Create Account
</button>

<button
   ng-if="ctrl.loggedInUser.admin &&
         ctrl.includeRoute == 'partials/welcome.html'"
   ng-click="ctrl.changeRoute('createChildAccount')">
   Add Child
</button>
<button
   ng-if="ctrl.loggedInUser.admin &&
      ctrl.includeRoute == 'partials/showChild.html'"
   ng-click="ctrl.loadPage()">
   Back
</button>
<button
   ng-if="ctrl.includeRoute == 'partials/showChore.html'"
   ng-click="ctrl.showChild(ctrl.child)">
   Back
</button>
<button
   ng-if="ctrl.includeRoute == 'partials/addChore.html'"
   ng-click="ctrl.showChild(ctrl.child)">
   Cancel
</button>
<button
   ng-if="ctrl.loggedInUser.admin &&
      ctrl.includeRoute == 'partials/showBonusPoints.html' || ctrl.includeRoute == 'partials/showRemovePoints.html'"
   ng-click="ctrl.loadPage()">
   Back
</button>
<button
   ng-if="ctrl.loggedInUser.admin &&
      ctrl.includeRoute == 'partials/addExtraPointsChore.html'"
   ng-click="ctrl.addPoints()">
   Cancel
</button>
<button
   ng-if="ctrl.loggedInUser && !ctrl.loggedInUser.admin">
   Total Points: {{ctrl.loggedInUser.points}}
</button>
<button
   ng-if="ctrl.loggedInUser"
   ng-click="ctrl.logout()">
   Logout
</button>
