<div class="show-chore">
   <!-- <h4>{{ctrl.chore.task}}</h4> -->

   <h5>Days to {{ctrl.chore.task}}</h5>
   <h5>Earn {{ctrl.chore.points}} Points</h5>
   <div class="show-chore-day" ng-if="ctrl.chore.monday.toDo">
      <h5>Monday</h5>
      <div class="show-chore-day-buttons">
         <button type="button"
            ng-if="ctrl.chore.monday.toDo && ctrl.chore.monday.completed"
            ng-click="ctrl.parentMarkedCompleted('monday')">
            Sign Off
         </button>
         <button type="button"
            ng-if="ctrl.chore.monday.toDo && ctrl.chore.monday.completed"
            ng-click="ctrl.parentMarkedRedo('monday')">
            Redo Chore
         </button>
      </div>
   </div>
   <div class="show-chore-day" ng-if="ctrl.chore.tuesday.toDo">
      <h5>Tuesday</h5>
      <div class="show-chore-day-buttons">
         <button type="button"
            ng-if="ctrl.chore.tuesday.toDo && ctrl.chore.tuesday.completed"
            ng-click="ctrl.parentMarkedCompleted('tuesday')">
            Sign Off
         </button>
         <button type="button"
            ng-if="ctrl.chore.tuesday.toDo && ctrl.chore.tuesday.completed"
            ng-click="ctrl.parentMarkedRedo('tuesday')">
            Redo Chore
         </button>
      </div>
   </div>
   <div class="show-chore-day" ng-if="ctrl.chore.wednesday.toDo">
      <h5>Wednesday</h5>
      <div class="show-chore-day-buttons">
         <button type="button"
            ng-if="ctrl.chore.wednesday.toDo && ctrl.chore.wednesday.completed"
            ng-click="ctrl.parentMarkedCompleted('wednesday')">
            Sign Off
         </button>
         <button type="button"
            ng-if="ctrl.chore.wednesday.toDo && ctrl.chore.wednesday.completed"
            ng-click="ctrl.parentMarkedRedo('wednesday')">
            Redo Chore
         </button>
      </div>
   </div>
   <div class="show-chore-day" ng-if="ctrl.chore.thursday.toDo">
      <h5>Thursday</h5>
      <div class="show-chore-day-buttons">
         <button type="button"
            ng-if="ctrl.chore.thursday.toDo && ctrl.chore.thursday.completed"
            ng-click="ctrl.parentMarkedCompleted('thursday')">
            Sign Off
         </button>
         <button type="button"
            ng-if="ctrl.chore.thursday.toDo && ctrl.chore.thursday.completed"
            ng-click="ctrl.parentMarkedRedo('thursday')">
            Redo Chore
         </button>
      </div>
   </div>
   <div class="show-chore-day" ng-if="ctrl.chore.friday.toDo">
      <h5 >Friday</h5>
      <div class="show-chore-day-buttons">
         <button type="button"
            ng-if="ctrl.chore.friday.toDo && ctrl.chore.friday.completed"
            ng-click="ctrl.parentMarkedCompleted('friday')">
            Sign Off
         </button>
         <button type="button"
            ng-if="ctrl.chore.friday.toDo && ctrl.chore.friday.completed"
            ng-click="ctrl.parentMarkedRedo('friday')">
            Redo Chore
         </button>
      </div>
   </div>
   <div class="show-chore-day" ng-if="ctrl.chore.saturday.toDo">
      <h5 >Saturday</h5>
      <div class="show-chore-day-buttons">
         <div class="" ng-if="ctrl.chore.sunday.toDo && !ctrl.chore.sunday.completed">
            <i class="fas fa-ellipsis-h"></i>
            <!-- <i class="far fa-comment-dots"></i> -->
         </div>
         <button type="button"
            ng-if="ctrl.chore.saturday.toDo && ctrl.chore.saturday.completed"
            ng-click="ctrl.parentMarkedCompleted('saturday')">
            Sign Off
         </button>
         <button type="button"
            ng-if="ctrl.chore.saturday.toDo && ctrl.chore.saturday.completed"
            ng-click="ctrl.parentMarkedRedo('saturday')">
            Redo Chore
         </button>
      </div>
   </div>
   <div class="show-chore-day" ng-if="ctrl.chore.sunday.toDo">
      <h5 >Sunday</h5>
      <div class="show-chore-day-buttons">
         <div class="" ng-if="ctrl.chore.sunday.toDo && !ctrl.chore.sunday.completed">
            <!-- <i class="fas fa-ellipsis-h"></i> -->
            <i class="far fa-comment-dots"></i>
         </div>
         <button type="button"
            ng-if="ctrl.chore.sunday.toDo && ctrl.chore.sunday.completed"
            ng-click="ctrl.parentMarkedCompleted('sunday')">
            Sign Off
         </button>
         <button type="button"
            ng-if="ctrl.chore.sunday.toDo && ctrl.chore.sunday.completed"
            ng-click="ctrl.parentMarkedRedo('sunday')">
            Redo Chore
         </button>
      </div>
   </div>
   <div class="show-chore-day-buttons-two">
      <button type="button" ng-click="ctrl.editChore()">
         Edit Chore
      </button>
      <button type="button"
         ng-click="ctrl.deleteChore(ctrl.chore.task)">
         Delete Chore
      </button>
   </div>

   <!-- <button type="button" ng-click="ctrl.showChild(ctrl.child)">
      Back
   </button> -->
</div>
